body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #ddd;
  font-weight: bold;
}

/* Main Background */
.main {
  height: calc(100vh - 80px);
  background: url('/client/assets/images/img5.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.win-bg {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('/client/assets/images/win.png') center/cover no-repeat;
}

.lose-bg {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('/client/assets/images/lose.png') center/cover no-repeat;
}
/* Result Card */
.card {
  background: rgba(230, 224, 224, 0.85);
  padding: 40px;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

/* Title */
#result-title {
  margin-bottom: 10px;
}

/* Score */
#result-score {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Message */
#result-message {
  line-height: 1.6;
}

/* Buttons */
.buttons {
  margin-top: 20px;
}

button {
  background: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Footer */
.footer {
  text-align: center;
  padding: 10px;
  background: #ddd;
}